---
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }, { params: { lang: "de" } }];
}
const { lang } = Astro.params;

const data = (await import(`./data/${lang}.json`)).default

const listProjects = data.projects.list;

---

<Layout title=`danilppzz | ${lang.toUpperCase()}` lang=`${lang}`>
  <main class="h-auto">
    <Header title=`${data.title}` />
    <Section title=`${data.about.title}`>
      {data.about.description}
    </Section>
    <Section>
      <Button loc="https://github.com/danilppzz">
        Github
      </Button>
    </Section>
    <Section title={`${data.projects.title}`}>
      {listProjects.map((project: any, index: any) => (
        <Card
          title={project.title}
          description={project.description}
          usage_langs={project.usage_langs}
          url={project.url}
        />
      ))}
    </Section>    
  </main>
</Layout>
