---
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const data = (await import(`./data/en.json`)).default

const listProjects = data.projects.list;
---

<Layout title="danilppzz" lang="en">
  <main class="h-auto">
    <Header title=`${data.title}` />
    <Section title=`${data.about.title}`>
      {data.about.description}
    </Section>
    <Section title={`${data.projects.title}`}>
      {listProjects.map((project: any, index: any) => (
        <Card
          title={project.title}
          description={project.description}
          usage_langs={project.usage_langs}
          image_url={project.image_url}
        />
      ))}
    </Section>    
  </main>
</Layout>

<style>
  .mqq {

  }
</style>
